.navback{
	background-color:#5d3ebc;
}
.beyazyazi{
	color: #fff;
}
.searchbarimg{
	height: 50px;
	width: 107px;
}
.searcbar{
	width: 650px;
	height: 50px;
	border: none;
}
.searcbartextup{
	color: #beb2e4;

}
.searcbartext{
	font-size: 11px;
	font-weight: bold;
	text-align:center ;
}
.iconcolor{
	color: #fff;
}

#menu1{
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-15%, 0) !important;
}
#menu2{
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-33%, 0) !important;
}
#menu3{
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}
#menu4{
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}
#menu5{
  left: 90% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-90%, 0) !important;
}
#menu6{
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}
#menu7{
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}
.dropdownmenuall{
	width: 1100px;
	text-align:center;
}
.tac{
	text-align: center;
}
.jgp{
	width: 18rem;
}
.ptkss{
	border: 1px solid #5d3ebc; 
	color:#5d3ebc;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px;

}
.ptl{
	background-color: #5d3ebc;
	 color: white; 
	 font-weight: bold;
	 border-radius: 4px;
	 padding: 10px;
	 border: none;
}


.minimenu{
	width: 30px;
	height: 30px;
}
.minimenuimg{
	height: 500px;
}
.aoa{
	height: 425px;
}
.sliderbottomimg{
	width: 50px;
	height: 70px;
}

.sliderbottomtext{
	font-size: 20px;
}

.urunslider{
	width: 90px;
	 height: 170px;
	  margin-left: 10px;
}
.sliderhead
{
	text-align: start;
	font-size: 25px;
	margin-left: 30px;
}
.card-title1{
	font-size: 13px;
	font-weight: 800;
	color: #5d3ebc;
}
.rating {
	margin-right:70px;
  color: #f9bf3b; 
}
.price{
	margin-right: 70px;
	font-weight: 600;
	font-size: 30px;
	color: black;
	margin-top: 10px	;
}
.footerlinks{
	list-style-type:none; 
	text-decoration:none; 
	color: black;
}
.lstn{
	list-style-type: none;
	text-decoration: none;
}